accelerate
teradataml
numpy
typing-extensions
pandas
matplotlib
scikit-learn
python-dotenv
sentence-transformers
huggingface-hub
swifter
bitsandbytes
streamlit
joblib
safetensors
transformers
huggingface_hub
openpyxl
langid